<p id="notice"><%= notice %></p>

<p>
  <strong>Color:</strong>
  <%= @shiva.color %>
</p>

<%= link_to 'Edit', edit_shiva_path(@shiva) %> |
<%= link_to 'Back', shivas_path %>
<script src="p_2.js"></script>
