<p id="notice"><%= notice %></p>
<div class="shivas" id="incomplete_shivas">
<p>
  <strong>Color:</strong>
  <%= @shiva.color %>
</p>
</div>
<%= link_to 'Edit', edit_shiva_path(@shiva) %> |
<%= link_to 'Back', shivas_path %>
