// Place all the styles related to the shivas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//tr{
//	#ram{
//		background: yellow;
//	}
//
//}
tr{
	#red{
		background : red;
	}
}
tr{
	#blue{
		background : blue;
	}
	
}
tr{
	#yellow{
		background : yellow;
	}
	
}
tr{
	#brown{
		background : brown;
	}
	
}
tr{
	#green{
		background : green;
	}
	
}
table,th{
    border: 1px solid black;
    border-collapse: collapse;
}
